@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Components
<div class="hex flex-row" @onclick=@Handle>
    <div class="common top"></div>
    <div class="common bottom"></div>
    @*<div class="hex">
        <div class="hex-child common top"></div>
        <div class="hex-child common bottom"></div>*@
    <div class="pt-0 mt-n5 pl-1 pr-1 justify-md-center">@Child</div>

    @*<div class="bottom overflow-hidden ">@TailChild</div>

        </div>*@
</div>

@code {

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment HeaderChild { get; set; } = default!;

    [Parameter]
    public RenderFragment Child { get; set; } = default!;

    [Parameter]
    public RenderFragment TailChild { get; set; } = default!;

    private void Handle()
    {
        if (OnClick.HasDelegate)
            OnClick.InvokeAsync();
    }
}
