@inherits TscComponentBase

<div style="@Style">
    <TooltipCopy TextFunc="TextFunc" ValueFunc="ValueFunc" Value="Value" TooltipContentStyle="@Style" TextClass="text-truncate text-left masa subtitle2 black--text" />
</div>

@code {
    [Parameter]
    public object Value { get; set; }

    [Parameter]
    public Func<object, string> TextFunc { get; set; } = obj => obj?.ToString()!;

    [Parameter]
    public Func<object, string> ValueFunc { get; set; } = obj => obj?.ToString()!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (string.IsNullOrEmpty(Style))
            Style = "width:164px";
    }
}