.trace-timelines {
    width: 100%;
    display: flex;
}

.trace-timeline__background {
    height: 12px;
    padding-top: 4px;
    background-color: #D9D1FF;
}

.trace-timeline__leaner {
    height: 4px;
    background-color: #4318FF;
    border-radius: 4px;
}

.trace-timelines-view {
    position: relative;
    padding-top: 56px;
}

.trace-timelines-view__line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(228, 228, 230, 1);
}

.trace-timelines-view__line-item {
    position: absolute;
    bottom: 10px;
    color: #A3AED0;
}
::deep .copy_text {
    color: #4318FF;
}
.trace_detail ::deep .m-tab {
    text-transform: none;
    border-bottom: 1px solid #E4E8F3;
    min-width: 40px;
}

::deep .tooltip .icon_large {
    opacity: 0;
    width: 18px;
    height: 0px;
    margin-left: -24px;
    margin-top: 10px;
    transition: 0.4s;
}

::deep .tooltip .icon_large_hover {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 10px;
    transition: 0.5s;
}


::deep .tooltip .icon {
    opacity: 0;
    width: 18px;
    height: 0px;
    margin-left: -24px;
    transition: 0.4s;
}

::deep .tooltip .icon_hover {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    transition: 0.5s;
}

::deep .tracedetail .m-list-item {
    padding: 0;
}