@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MCard Style="border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;" Class="mb-1">
    <MCardTitle>
        <span>Trace</span>
        <MSpacer></MSpacer>
        @if (PageMode)
        {
            <DateTimeRangeToolbar StartTimeLimit="(val,end)=>val<=end&& val.AddDays(1)>=end"
                              EndTimeLimit="(val,start)=>val>=start&&val.AddDays(-1)<=start"
                              OnUpdate="OnDateTimeUpdate"
                              OnAutoUpdate="OnDateTimeAutoUpdate" />
        }
    </MCardTitle>
    <MCardText Class="pa-0">
        <AutoResize OnResize="ResizeEChartAsync" Delay="10">
            <MECharts @ref=MECharts Option="GenOption()" Height="285" />
        </AutoResize>
    </MCardText>
</MCard>