<div class="full-height flex-column @Class">
    @HeaderContent
    <div style="@AutoStyle" class="flex-height-auto @AutoClass @(Overflow?"overflow-y pr-4":"")">
        @AutoHeightContent
    </div>
    @FooterContent
</div>
