@inherits TscComponentBase

<MDialog Value=Value ValueChanged=UpdateVisible Width="Width" Persistent @key="Value">
    <MCard class="pa-6 full-height flex-column">
        <div class="d-flex mb-9">
            <div class="ma-auto h6 emphasis--text">@Title</div>
            <SButton Class="my-auto" Icon OnClick="async () => await UpdateVisible(false)"><SIcon Tooltip="@I18n.T("Close")">@IconConstants.Close</SIcon></SButton>
        </div>
        <div class="flex-height-auto mb-6">
            @ChildContent
        </div>       
        <div>
            @FooterContent
        </div>      
    </MCard>
</MDialog>