<div class="d-flex full-height full-width @Class">
    <div class="ma-auto">@I18N.T("Loading data")</div>
</div>

@code {
    [Inject]
    public I18n I18N { get; set; }

    [Parameter]
    public string? Class { get; set; }
}
