<MCard Class="@($"{(DefaultClass?"d-flex full-height full-width":"")} {Class}")" Style="@Style">
    <div class="ma-auto">@I18n?.T("Loading data")</div>
</MCard>

@code {
    [Inject]
    public I18n I18n { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool DefaultClass { get; set; } = true;

    [Parameter]
    public string? Style { get; set; }
}
