@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<div class="ma-16 pa-16">
    @for (var rowIndex = 0; rowIndex < _totalRows; rowIndex++)
    {
        var data = Projects.Skip(rowIndex * RowCount).Take(RowCount);
        <div class="d-flex @GetPaddingClass(rowIndex,data.Count())">
            @foreach (var item in data)
            {
                <ProjectItemCard Project=item OnClick=@(()=>OnItemClick(item))></ProjectItemCard>
            }
        </div>
    }
</div>

<MDialog @bind-Value="_showDialog"
         Fullscreen>
    <ChildContent>
        <MCard>
            <MCardTitle Class="d-flex justify-end">
                <MIcon OnClick="()=>_showDialog=false" title="Close">mdi-close</MIcon>
            </MCardTitle>
            <MCardText>
                <Project ProjectId="@_current.Identity" TeamId=@_current.TeamId></Project>
            </MCardText>
        </MCard>
    </ChildContent>
</MDialog>