@page "/teamDetail/configuration/{serviceName}"
@page "/teamDetail/configuration/record/{serviceName}"
@inherits TscComponentBase

<PageTitle>@T("Configure Team Detail")</PageTitle>

<DashboardConfiguration ConfigurationRecord="ConfigurationRecord" SavePanelsAction="SavePanelsAsync" GetPanelsAction="GetPanelsAsync">
    <div class="mr-4 d-fles" style="width: 40px;height: 40px;border: 1px solid #E4E8F3;border-radius: 40px;">
        <SIcon Class="ma-auto" Size=24 Tooltip="@T("Return to team details page")">mdi-arrow-left</SIcon>
    </div>
    <div class="h6 emphasis2">
        @ServiceName
    </div>
</DashboardConfiguration>