@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MCard>
    <MCardTitle>
        <span>Trace Errors statistical</span>
        <MSpacer></MSpacer>
        <DateTimeRangerPickerTimeSelector OnUpdate="OnDateTimeUpdate" />
    </MCardTitle>
    <MCardText>
        ECharts here!
    </MCardText>
</MCard>

@code {

    [Parameter]
    public EventCallback<(DateTime, DateTime)> OnDateTimeRangeUpdate { get; set; }

    private async Task OnDateTimeUpdate((DateTimeOffset start, DateTimeOffset end) range)
    {
        Console.Out.WriteLine("range.start = {0}", range.start);
        Console.Out.WriteLine("range.end = {0}", range.end);

        var localStart = new DateTime(range.start.UtcTicks + range.start.Offset.Ticks, DateTimeKind.Local);
        var localEnd = new DateTime(range.end.UtcTicks + range.end.Offset.Ticks, DateTimeKind.Local);

        await OnDateTimeRangeUpdate.InvokeAsync((localStart, localEnd));
    }

}
