@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MCard Style="border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;">
    <MCardTitle>
        <span>Trace</span>
        <MSpacer></MSpacer>
        @if (PageMode)
        {
            <DateTimeRangeToolbar DefaultQuickRange="s_defaultQuickRange"
                                  OnUpdate="OnDateTimeUpdate"
                                  OnAutoUpdate="OnDateTimeAutoUpdate" />
        }
    </MCardTitle>
    <MCardText Class="pa-0">
        <MECharts Option="_option" Height="300"></MECharts>
    </MCardText>
</MCard>