.values-dev-public-service:
  variables:
    DOCKER_TAG: dev
    NAMESPACE: masa-tsc-dev
    KUBECONFIG: $KUBECONFIG_MASA_DEV_YDY
    DAPR_ID_PATH: -develop
    K8S_REPLICAS: $DEV_REPLICAS
    K8S_FILE: 'devops/k8s.yaml'
    PROJECT_PORT: 80
    DOCKER_IMAGE_NAME: $REGISTRY_URL/$REGISTRY_WAREHOUSE/$PROJECT_NAME:$DOCKER_TAG-$CI_PIPELINE_ID

.values-dev-public-ui:
  variables:
    DOCKER_TAG: dev
    NAMESPACE: masa-tsc-dev
    KUBECONFIG: $KUBECONFIG_MASA_DEV_YDY
    DAPR_ID_PATH: -develop
    K8S_REPLICAS: $DEV_REPLICAS
    K8S_FILE: 'devops/k8s-web.yaml'
    PROJECT_PORT: 443
    DOCKER_IMAGE_NAME: $REGISTRY_URL/$REGISTRY_WAREHOUSE/$PROJECT_NAME:$DOCKER_TAG-$CI_PIPELINE_ID
    
.values-service-admin-dev:
  variables:
    PROJECT_NAME: masa-tsc-service-admin
    PROJECT_PATH: "src/Services/Masa.Tsc.Service.Admin"
    DOMAIN_NAME: masa-tsc-service-admin-dev.lonsid.cn

.values-ui-admin-dev:
  variables:
    PROJECT_NAME: masa-tsc-ui-admin
    PROJECT_PATH: "src/Web/Masa.Tsc.Web.Admin.Server"
    DOMAIN_NAME: masa-tsc-ui-admin-dev.lonsid.cn