@namespace Masa.Tsc.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<MTextField TValue=string Placeholder="Date"></MTextField>
<MIcon OnClick="RefreshAsync">refrsh</MIcon>

<MCard>
    <SearchTextField Label="请输入内容关键词"></SearchTextField>
    <MRadio Label="换行" TValue=bool OnChange=UpdateWordBreakAsync Value=_isWordBreak></MRadio>
    <MButton>时间<BIcon OnClick=UpdateSortingAsync>fa-sort</BIcon></MButton>
    <MAutocomplete Items="_dicDurations"
                   @bind-Value="_lastedDuration"
                   TItem="KeyValuePair<int,string>"
                   TValue="int"
                   TItemValue="int"
                   ItemText="item=>item.Value"
                   ItemValue="item=>item.Key"
                   OnSelectedItemUpdate=UpdateDurationAsync>
        <MIcon>fa-sort-down</MIcon>
    </MAutocomplete>
</MCard>

<MContainer>
    @if (_data is null)
    {
        <div>加载中...</div>
    }
    else
    {
        foreach (var item in _data)
        {
            <MCard>
                @{
                    var keyValues = item.ToKeyValuePairs();
                    if (keyValues != null)
                    {
                        <MCard>@FormatDateTime(item.GetTimestamp())</MCard>
                        <MCard>
                            @foreach (var keyValue in keyValues)
                            {
                                <MLabel>@keyValue.Key</MLabel>
                                <MLabel>@keyValue.Value</MLabel>
                            }
                        </MCard>
                    }
                }
            </MCard>
        }
    }

    <MPagination Length=_totalPage TotalVisible=5></MPagination>
</MContainer>