@inherits TscComponentBase

<div class="d-flex mb-4">
    <SButton Icon Class="mr-4">
        <SIcon Size="24" Color="regular2">
            @IconConstants.MenuRight
        </SIcon>
    </SButton>
    <div class="px-2 mr-6 my-auto fill-background" style="border-radius: 6px;height: 25px;text-align:center;">
        <span class="emphasis2--text btn">ActionName</span>
    </div>
    <span class="body2 regular2--text my-auto">:hhh</span>
</div>
<div class="d-flex mb-4">
    <SButton Icon Class="mr-4">
        <SIcon Size="24" Color="regular2">
            @IconConstants.MenuDown
        </SIcon>
    </SButton>
    <div class="px-2 mr-6 my-auto fill-background" style="border-radius: 6px;height: 25px;text-align:center;">
        <span class="emphasis2--text btn">ActionName</span>
    </div>
    <span class="body2 regular2--text my-auto">:hhh</span>
</div>
@if(true)
{
    <div class="d-flex mb-4 ml-8">
        <SButton Icon Class="mr-4">
            <SIcon Size="24" Color="regular2" Class="mr-4">
                @IconConstants.MenuDown
            </SIcon>
        </SButton>
        <div class="px-2 mr-6 my-auto fill-background" style="border-radius: 6px;height: 25px;text-align:center;">
            <span class="emphasis2--text btn">ActionName</span>
        </div>
        <span class="body2 regular2--text my-auto">:hhh</span>
    </div>
}