@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MCard Class="pa-2" OnClick="OnClickHandler">
    <MCardText Class="d-flex justify-space-between pa-0 pb-6">
        <div class="d-flex flex-column justify-space-around">
            <div>
                <span class="h5">@Value.Value</span>
                @if (Value.Total != 0)
                {
                    <span class="regular3--text h8 ml-1">/@Value.Total</span>
                }
            </div>
            <span class="regular3--text h8">@Value.Text</span>
        </div>
        <MIcon>@Value.Icon</MIcon>
    </MCardText>
    <MCardActions Class="pa-0">
        <MProgressLinear Height="4" Color="@Value.Color" Rounded Value="100"></MProgressLinear>
    </MCardActions>
</MCard>
@code {
    [Parameter]
    public AppMonitorViewDto Value { get; set; } = default!;

    [Parameter]
    public EventCallback<AppMonitorViewDto> OnClick { get; set; }

    private async Task OnClickHandler()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(Value);
        }
    }
}
