@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<Hexagon OnClick=OnClick Error="_error" Warn="_warn">
    <Child>
        <div class="text-center mx-3 text-no-wrap overflow-hidden text-truncate">@Project.Name</div>
        @foreach (var item in Project.Apps.Take(3))
        {
            <div class="hex-span flow-col pt-1 text-no-wrap overflow-hidden text-truncate overflow-hidden">@item.Name</div>
        }
        @if (Project.Apps.Count - 2 > 0)
        {
            <div class="text-center">...</div>
        }

    </Child>
</Hexagon>
@code
{
    [Parameter]
    public EventCallback OnClick { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    [Parameter]
    public ProjectDto Project { get; set; } = default!;

    private bool _error =>Project.Name.Equals("Masa.Pm")||  Project.Apps.Any(t => t.Status == MonitorStatuses.Error);

    private bool _warn=>Project.Name.Equals("Masa.Dcc")|| !_error&&Project.Apps.Any(t => t.Status == MonitorStatuses.Warn);
}