@namespace Masa.Tsc.Web.Admin.Rcl.Components
@implements IDisposable
@inherits TscComponentBase

<div class="d-flex align-center">
    <div class="flex-grow-1">
        <MTabs Class="transparent-tab">
            <MTab>All</MTab>
            <MTab>Operator</MTab>
            <MTab>Basic Ability</MTab>
            <MTab>Data Factory</MTab>
        </MTabs>
    </div>
    <div style="width:300px;" class="mx-6">
        <SSearch BackgroundColor="white" Dense/>
    </div>
    <DateTimeRangerPickerTimeSelector/>
</div>