@namespace Masa.Tsc.Web.Admin.Rcl.Components
@implements IDisposable
@inherits TscComponentBase

<div class="d-flex align-center" style="overflow:auto;">
    <div class="flex-grow-1" style="min-width:220px;width:calc(100% - 750 px)">
        <MTabs Class="transparent-tab" Value="@_value.ProjectType" ValueChanged=@(async (value)=>await OnTabsChange(value.ToString()!))>
            @foreach (var item in _projectTypes)
            {
                <MTab Value=@item.Key Class="text-capitalize">@item.Value</MTab>
            }
        </MTabs>
    </div>
    <div class="mx-6">
        <SearchTextField Style="width:220px;border-radius: 10px !important;" @bind-Value="@Search" FillBackground=false Clearable />
    </div>
    <DateTimeRangeToolbar DefaultQuickRange="QuickRangeKey.Last6Hours" OnUpdate="OnDateTimeUpdateAsync" OnAutoUpdate="OnAutoDateTimeUpdateAsync" />
</div>