@namespace Masa.Tsc.Web.Admin.Rcl.Components
@implements IDisposable
@inherits TscComponentBase

<div class="d-flex align-center">
    <SLabeledRadioGroup Value="@_value.ProjectType" ValueChanged=@(async (string value)=>await OnTabsChange(value)) Dense>
        @foreach (var item in _projectTypes)
        {
            <SLabeledRadio Value="item.Key">@item.Value</SLabeledRadio>
        }
    </SLabeledRadioGroup>
    <SearchTextField Class="rounded-lg flex-grow-1 mx-8" Style="min-width:120px" @bind-Value="@Search" FillBackground=false Clearable />
    <DateTimeRangeToolbar DefaultQuickRange="QuickRangeKey.Last6Hours" OnUpdate="OnDateTimeUpdateAsync" OnAutoUpdate="OnAutoDateTimeUpdateAsync" />
</div>