@namespace Masa.Tsc.Web.Admin.Rcl.Components
@implements IDisposable
@inherits TscComponentBase

<div class="d-flex align-center">
    <div class="flex-grow-1">
        <MTabs Class="transparent-tab" Value="@_value.ProjectType" ValueChanged=@(async (value)=>await OnValueChange(projectType:value.ToString()))>
            @foreach (var item in _projectTypes)
            {
                <MTab Value=@item.Key>@item.Value</MTab>
            }
        </MTabs>
    </div>
    <div style="width:300px;" class="mx-6">
        <SearchTextField Style="width:220px;border-radius: 10px !important;" Value="@_search" FillBackground=false Clearable ValueChanged=SearchChangedAsync />
    </div>
    <DateTimeRangeToolbar/>
</div>