@inherits TscComponentBase
<AutoResize Delay="10" OnResize="ResizeAsync">
    <MCard Class="d-flex flex-column rounded-lg full-height">
        <MCardTitle Class="d-flex justify-space-between">
            <MLabel Class="emphasis2--text h6">@Value.Title</MLabel>
            <MTooltip Top>
                <ActivatorContent>
                    <MIcon @attributes="@context.Attrs">mdi-information-outline</MIcon>
                </ActivatorContent>
                <ChildContent>
                    <span>@Value.Description</span>
                </ChildContent>
            </MTooltip>
        </MCardTitle>
        <MCardText Class="flex-grow-1">
            @{
                var options = Value.GetChartOption(CurrentTimeZone);
                if (options is null)
                {
                    <NoData />
                }
                else
                {
                    <MECharts Option="options" @ref=Chart />
                }
            }

        </MCardText>
    </MCard>
</AutoResize>

@code {
    [Parameter]
    public IEChartPanelValue Value { get; set; }

    public MECharts? Chart { get; set; }

    public string? OldKey { get; set; }

    public async Task ResizeAsync()
    {
        if (Chart is not null)
        {
            await Chart.Resize();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        var key = Value.GetChartKey();
        if (OldKey != key && Chart is not null)
        {
            OldKey = key;
            await Chart.ReinitializeECharts();
        }
    }
}
