<MCard Height="410" Class="d-flex flex-column rounded-lg">
    <MCardTitle Class="d-flex justify-space-between">
        <MLabel Class="emphasis2--text h6">@Value.Title</MLabel>
        <MTooltip Top>
            <ActivatorContent>
                <MIcon @attributes="@context.Attrs">mdi-information-outline</MIcon>
            </ActivatorContent>
            <ChildContent>
                <span>@Value.Description</span>
            </ChildContent>
        </MTooltip>
    </MCardTitle>
    <MCardText Class="flex-grow-1">
        @if (Option is null)
        {
            <div class="full-height d-flex">
                <div class="ma-auto">@I18N.T("No Data")</div>
            </div>
        }
        else
        {
            <MECharts @key=@Value.GetChartKey() Option="Option" />
        }
    </MCardText>
</MCard>

@code {
    [CascadingParameter]
    public I18n I18N { get; set; }

    [Parameter]
    public IEChartPanelValue Value { get; set; }

    object? Option { get; set; }

    protected override void OnParametersSet()
    {
        Option = Value.GetChartOption();
    }
}
