<MCard Height="410" Class="d-flex flex-column rounded-lg">
    <MCardTitle Class="d-flex justify-space-between">
        <MLabel Class="emphasis2--text h6">@Value.Title</MLabel>
        <MTooltip Top>
            <ActivatorContent>
                <MIcon @attributes="@context.Attrs">mdi-information-outline</MIcon>
            </ActivatorContent>
            <ChildContent>
                <span>@Value.Description</span>
            </ChildContent>
        </MTooltip>
    </MCardTitle>
    <MCardText Class="flex-grow-1">
        <MECharts @key=@Value.GetChartKey() Option="Value.GetChartData()" /> @*@ref="_mECharts"*@
    </MCardText>
</MCard>

@code {
    [Parameter]
    public IEChartPanelValue Value { get; set; }

    //private MECharts _mECharts = null!;

    //private void EChartOption_EChartOptionChanged()
    //{
    //    _mECharts.SetOption();
    //}

    //public void StateUpdated()
    //{
    //    _mECharts.SetOption();
    //}
}
