@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscEChartBase

<MCard Width="Width" Height="Height" Class="d-flex flex-column rounded-lg">
    <MCardTitle>
        <MLabel Class="emphasis2--text h6">@(Title + "(" + T(unit) + ")")</MLabel>
    </MCardTitle>
    <MCardText Class="flex-grow-1 d-flex justify-center align-center emphasis--text">
        @if (_isLoading)
        {
            @("Loading ...")
        }
        else
        {
            <span style="font-weight: 700;font-size: 60px;line-height: 76px;text-align: center;letter-spacing: -0.5px;">@total</span>
            <span class="ml-2 h4 ">@unit</span>
        }
    </MCardText>
    <MCardActions Class="regular3--text body2 px-4">
        该时间段内服务平均响应时间 <br/>
        平均值
    </MCardActions>
</MCard>