@namespace Masa.Tsc.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<div class="d-flex justify-center pt-5">
    @if (Apps != null && Apps.Any())
    {
        foreach (var item in Apps)
        {
            <MonitorItemCard Value=@item />
        }
    }
</div>
@code {
    [Parameter]
    public List<AppMonitorViewDto> Apps { get; set; } = new List<AppMonitorViewDto>
    {
        new AppMonitorViewDto
        {
             Name="MONITORING",
             Color="#A3AED0",
             Total=128,
             Icon="mdi-chart-line-variant"
        },
        new AppMonitorViewDto
        {
         Name="WARN",
         Color="#C07401",
         Total=42,
         Icon="mdi-bell-ring"
        },
        new AppMonitorViewDto
        {
             Name="ERROR",
             Color="#F80E1C",
             Total=23,
             Icon="mdi-bell"
        },
        new AppMonitorViewDto
        {
         Name="NORMAL",
         Color="#299F00",
         Total=128,
         Icon="mdi-shield"
        }
    };
}
