@namespace Masa.Tsc.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<Hexagon OnClick=OnClick>
    <Child>
        <div class="text-center">@Project.Name</div>
        @foreach (var item in Project.Apps.Take(3))
        {
            <div class="hex-span flow-col pb-1 text-no-wrap text-truncate">@item.Name</div>
        }
        @if (Project.Apps.Count - 2 > 0)
        {
            <div class="text-center">...</div>
        }

    </Child>
</Hexagon>
@code
{
    [Parameter]
    public EventCallback OnClick { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    [Parameter]
    public ProjectDto Project { get; set; } = default!;

    //private bool isShow = false;
}