@namespace Masa.Tsc.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<div class="ma-16 pa-16">  
    @while (rows - currentRow > 0)
    {
        var data = Projects.Skip(currentRow * RowCount).Take(RowCount);
        <div class="d-flex  @GetPardddd(currentRow,data.Count())">
            @foreach (var item in data)
            {
                <ProjectItemCard Project=item OnClick=@(()=>Click(item))></ProjectItemCard>
            }
        </div>
        currentRow++;
    }    
</div>

<MButton OnClick=@(()=>Click(default!)) StopPropagation>
    dialog
</MButton>

<MDialog @bind-Value=@isShow>
    <ChildContent>
        <MCard>         
            @*<Project Value=@Project AppId="sadasdas" Team=TeamData></Project>*@
        </MCard>
    </ChildContent>
</MDialog>