@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Components
<div>
    <div>
        <MAutocomplete @bind-Value=@AppId Items=Apps ItemText="r=>r.Name" ItemValue="r=>r.Identity" />
        <MLabel>Service</MLabel>
        <MLabel>ID:@AppId</MLabel>
    </div>
    <div>
        <MTextField TValue=string Value="TimeStr"></MTextField>
        <MSelect @bind-Value="@TimeStr"
                 Items="@_selectDataSource"
                 ItemText="u => u"
                 ItemValue="u => u">
        </MSelect>
        <MIcon Large>fa-arrows-rotate</MIcon>
        <MButton>查看详情</MButton>
    </div>
</div>