@page "/"
@inherits TscWidgetBase
<h3>Index</h3>
@*<MRow>
  
    <TscWidgetText>

    </TscWidgetText>

    <MEditor></MEditor>
      <MIcon Large>fas fa-rotate</MIcon>
      <MIcon Large>fas fa-chevron-down</MIcon>
</MRow>*@
@code {

}
