@inherits TscComponentBase

<div class="d-flex full-height">
    <div class="full-width full-height">
        <Antvg6 Option=G6Option Data="G6Data" />
    </div>
    <div style="min-width:242px;overflow:auto;">
        <div class="d-flex mt-1">
            <SSelect @bind-Value=Depth
                     Items="_depthItems"
                     ItemText='item => T("{0} layer deep",item.ToString())'
                     ItemValue="item => item"
                     TItem="int"
                     TItemValue="int"
                     TValue="int"
                     Small
                     BackgroundColor="fill-background"
                     Style="width:135px">
            </SSelect>
            <SButton Icon Color="black" OnClick="RefreshAsync">
                <SIcon Tooltip="@T("Refresh")" Size=16>
                    @IconConstants.Refresh
                </SIcon>
            </SButton>
        </div>        
    </div>
</div>