.main-content {
    background: #F0F3FA;
}

.team-tab {
    background: #A3AED0;
    border-radius: 4px;
    height: 60px;
}

.team-tab-item {
    font: bold 20px Inter normal;
    color: #E4E4E4;
    line-height: 28px;
}

    .team-tab-item:active {
        color: #FFFFFF;
    }

.monitor-item {
    height: 100px;
    width: 300px
}

    .monitor-item > .m-card__title {
        height: 30px;
        letter-spacing: 5px;
        color: #ffffff;
        text-transform: uppercase;
        font-feature-settings: 'cpsp' on;
    }


.hex {
    position: relative;
    height: 70px;
    width: 120px;
    margin: 0 8px 32px 0;
    border-radius: 4px;
}

.common {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.top {
    content: '';
    transform: rotate(60deg);
}

.bottom {
    content: '';
    transform: rotate(-60deg);
}

.hex-span {
    font-size: 10px;
}

.hex-color-red, .hex-color-red > .top, .hex-color-red > .bottom {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.hex-color-green, .hex-color-green > .top, .hex-color-green > .bottom {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.hex-color-yellow, .hex-color-yellow > .top, .hex-color-yellow > .bottom {
    border-left: 2px solid #C07401;
    border-right: 2px solid #C07401;
}


.hex-even {
    margin-left: 64px;
}

.border-gray-thcik-all {
    border: solid 1px gray;
}

.border-gray-thcik {
    border: solid 1px gray;
    border-top: none
}

.border-gray-thcik-top {
    border-top: solid 1px gray;
}


.bg-color-A3AED0 {
    background-color: #A3AED0
}

.bg-color-E9EDF7 {
    background-color: #E9EDF7
}

.trace-chart-btn {
    background-color: #bdbdbd;
    color: white
}

.trace-chart-btn-active {
    background-color: white;
    color: #a7b2d2
}

.fixed-table {
    table-layout: fixed
}

    .fixed-table thead tr th {
        position: sticky;
        top: 0;
        opacity:1.0;
        background-color:#fff
    }







    .fa-arrows-rotate:before {
        content: '\f021'
    }

.fa-rotate:before {
    content: '\f2f1'
}

.fa-sort:before {
    content: '\f0dc'
}

.fa-sort-down:before {
    content: '\f0dd'
}

.fa-sort-up:before {
    content: '\f0de'
}

.fa-cirle:before {
    content: '\f111'
}

.fa-square-info:before {
    content: '\f30f'
}

.fa-folder-closed:before {
    content: '\e185'
}

.fa-folder-open:before {
    content: '\f07c'
}

.fa-file:before {
    content: '\f15b'
}

.fa-file-check:before {
    content: '\f136'
}

.fa-plus:before {
    content: '\2b'
}

.fa-chevron-down:before {
    content: '\f078'
}

.fa-chevron-up:before {
    content: '\f077'
}

.search {
    width: 340px;
}

.full-height {
    height: 100% !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.hidden-webkit-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-webkit-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    overflow-y: scroll;
}

.overflow-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.overflow-auto {
    overflow: auto;
}

.hover-pointer {
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.flex-height-auto {
    flex: auto;
}

.overflow-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.borderColor :hover {
    border: solid #4318FF 1px;
}

.borderNone {
    border:none !important;
}