.main-content {
    background: #F0F3FA;
}

.team-tab {
    background: #A3AED0;
    border-radius: 4px;
    height: 60px;
}

.team-tab-item {
    font: bold 20px Inter normal;
    color: #E4E4E4;
    line-height: 28px;
}

    .team-tab-item:active {
        color: #FFFFFF;
    }

.monitor-item {
    height: 100px;
    width: 300px
}

    .monitor-item > .m-card__title {
        height: 30px;
        letter-spacing: 5px;
        color: #ffffff;
        text-transform: uppercase;
        font-feature-settings: 'cpsp' on;
    }


.hex {
    position: relative;
    height: 70px;
    width: 120px;
    margin: 0 8px 32px 0;
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-radius: 4px;
}

.common {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.top {
    content: '';
    transform: rotate(60deg);
    border-left: 2px solid green;
    border-right: 2px solid green;
}



.bottom {
    content: '';
    transform: rotate(-60deg);
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.hex-span {
    font-size: 10px;
}


.hex-even {
    margin-left: 64px;
}

.border-gray-thcik-all {
    border: solid 1px gray;
}

.border-gray-thcik {
    border:solid 1px gray;
    border-top:none
}

.border-gray-thcik-top {
    border-top: solid 1px gray;
}



.fa-arrows-rotate:before {
    content: '\f021'
}

.fa-rotate:before {
    content: '\f2f1'
}

.fa-sort:before {
    content: '\f0dc'
}

.fa-sort-down:before {
    content: '\f0dd'
}

.fa-sort-up:before {
    content: '\f0de'
}

.fa-cirle:before {
    content: '\f111'
}

.fa-square-info:before {
    content: '\f30f'
}

.fa-folder-closed:before{
    content: '\e185'
}

.fa-folder-open:before {
    content: '\f07c'
}

.fa-file:before {
    content: '\f15b'
}

.fa-file-check:before {
    content: '\f136'
}

.fa-plus:before {
content:'\2b'
}

.fa-chevron-down:before {
    content: '\f078'
}

.fa-chevron-up:before {
    content: '\f077'
}
