@inherits TscComponentBase

@if (IsLoading)
{
    <div class="d-flex full-height full-width white @(Class)" style="border-radius: 8px;">
        <div class="ma-auto">@T("Loading data")</div>
    </div>
}
@if (Value.ChartType == "table")
{
    <ListPanel Value="Value" IsChartDataReady=!IsLoading Class="@Class" />
}
else
{
    <EChart Value="Value" />
}
