@inherits TscComponentBase

@if (IsLoading)
{
    <div class="d-flex full-height full-width">
        <div class="ma-auto">@T("数据加载中.....")</div>
    </div>
}
else
{
    <div style="max-height:410;overflow-y:auto;">
        <DynamicComponent Type="@CurrentDynamicComponent.ShowType" Parameters=CurrentDynamicComponent.Metadata />
    </div>
}


