@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MTooltip Top>
    <ActivatorContent>
        <span class="m-chip m-size--small m-chip--label theme--light secondary" @attributes="@context.Attrs">@(Offset.Hours > 0 ? $"+{Offset.Hours}" : Offset.Hours.ToString())</span>
    </ActivatorContent>
    <ChildContent>
        <span>@(I18n.DateTimeRange("Current Selected TimeZone"))</span>
    </ChildContent>
</MTooltip>

@code {

    [Parameter]
    public TimeSpan Offset { get; set; }
}
