@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Apm.Endpoints
@inherits ApmComponentBase

<MCard>
    <MCardSubtitle>
        <div>
            <div>Trace sample</div>
            <div>
                <SIcon>mdi-page-first</SIcon>
                <SIcon>mdi-chevron-left</SIcon>
                <div><span>1</span>of <span>200</span></div>
                <SIcon>mdi-chevron-right</SIcon>
                <SIcon>mdi-page-last</SIcon>
            </div>
        </div>
        <div>
            <div>1 hours ago</div>
            <div>300s (100% of trace)</div>
            <div>POST https://soa.lonsid.cn/api/flm/api/flm/admin/message/messageRem</div>
            <div>200 OK</div>
            <div>Firefox (121.0.0)</div>
        </div>
    </MCardSubtitle>
    <MCardText>


    </MCardText>
</MCard>