@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<div class="h-269">
    <MRow Style="background-color:#F0F3FA;" Class="@Class">
        <MCol Cols="3">
            <ErrorWarnChart Title="ERRORS" SubText="errors" @ref="_errorWarnChart" />
        </MCol>
        <MCol Cols="9">
            <LogTraceChart Trace Title="@("Trace")" @ref="_traceLogChart" />
        </MCol>
        <MCol Cols="3">
            <ObserveChart Title="OBSTACLES" @ref="_observeChart" />
        </MCol>
        <MCol Cols="3">
            <GrowthChart Title="Growth" @ref="_growthChart" />
        </MCol>
        <MCol Cols="6">
            <LogTraceChart Trace Title="@("Trace")" @ref="_traceLogChart1" />
        </MCol>
        <MCol Cols="6">
            <Temp Title="@("Log")"></Temp>
        </MCol>
        <MCol Cols="3">
            <LogTraceStatiscChart Trace Error Title="Tace Errors" @ref="_traceErrorChart" />
        </MCol>
        <MCol Cols="3">
            <LogTraceStatiscChart Trace Warn Title="Tace Warns" @ref="_traceWarnChart" />
        </MCol>
    </MRow>
</div>
