@namespace Masa.Tsc.Web.Admin.Rcl.Components
@inherits TscComponentBase

<MRow Class="@Class">
    <MCol Cols="6" Class="d-flex justify-start align-center">
        <div style="width:210px;">
            <SAutoComplete TItem="AppDto" TItemValue=string TValue=string OnSelectedItemUpdate="OnSelectItemUpdate"
                           Items=Apps ItemText="r=>r.Name" ItemValue="r=>r.Identity" Outlined Dense Value="_value.AppId"
                           Style="background-color:white;" />
        </div>
        <MChip Class="mx-6" Color="#05CD99" TextColor="white">@GetApp()?.AppType</MChip>
        <MLabel Class="regular2--text body2">@_value.AppId</MLabel>
    </MCol>
    <MCol Cols="6" Class="d-flex justify-end align-center">
        <DateTimeRangeToolbar />
        <SButton Class="ml-6" Small BorderRadiusClass="rounded-lg">
            查看详情
        </SButton>
    </MCol>
</MRow>