@namespace Masa.Tsc.Admin.Rcl.Pages.Components
<div class="d-block">
<MBreadcrumbs Items="_items" Linkage Divider="/" Class="text-md-body-2"></MBreadcrumbs>
</div>
@code {
    private List<BreadcrumbItem> _items = new();

    [Parameter]
    public string Href { get; set; }

    protected override void OnParametersSet()
    {
        _items = new List<BreadcrumbItem> {

                new BreadcrumbItem
                {
                     Text="Team",
                     Linkage=true,
                      Href="/team"
                }
            };
        base.OnParametersSet();
    }    
}
