<div>
    <div>aasdasdasdasdasdadasdas
        <TeamDetail Value=Team></TeamDetail>
        <ProjectDetail Value=@Value></ProjectDetail>
    </div>
    <div>
        <SearchBar AppId=@AppId Apps=@Value.Apps></SearchBar>
    </div>
</div>

@code {

    [Parameter]
    public TeamDto Team { get; set; }

    [Parameter]
    public ProjectDto Value { get; set; }

     [Parameter]
    public string AppId { get; set; }

}
