@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<div class="d-flex justify-center pt-5">
    @foreach (var item in Data)
    {
        <MonitorItemCard Value=@item />
    }
</div>