@namespace Masa.Tsc.Web.Admin.Rcl.Pages.Components
@inherits TscComponentBase

<div class="d-flex">
    <div class="flex-row col-3">aasdasdasdasdasdadasdas
        <TeamDetail Value=Team></TeamDetail>
        <ProjectDetail Value=@Value></ProjectDetail>
    </div>
    <div class="flex-row col-9">
        <SearchBar AppId=@AppId Apps=@Value.Apps></SearchBar>
    </div>
</div>