@namespace Masa.Tsc.Web.Admin.Rcl.Components
@using System.Diagnostics
@inherits TscComponentBase

<Element Class="rounded-lg ma-1" Style="border:solid 2px #BBDEFB">
    @if (!ReadOnly)
    {
        <div class="d-flex justify-end" style="position:relative;top:-20px;right:4px;z-index:3">
            <MButton XSmall OnClick="OnDelete">Delete</MButton>
            <MButton XSmall OnClick="OnEdit">Edit</MButton>
        </div>
    }
    <div class="overflow-auto" style="@_style">
        <TscInstrumentPanelView Item="Item" Readonly />
    </div>
</Element>