@inherits TscComponentBase

<DefaultDialog Value=Visible ValueChanged=UpdateVisible Title="@T("Add dashboard")">
    <ChildContent>
        <MForm @ref="Form" Model=Dashboard EnableValidation EnableI18n>
            <STextField Required @bind-Value="@Dashboard.Name" Class="mb-6" />
            <FolderSelect @bind-Value="Dashboard.Folder" Class="mb-6" />
            <EnumSelect TValue="ModelTypes" @bind-Value="Dashboard.Model" Clearable=false Class="mb-6" />
            <ProjectTypeSelect @bind-Value="Dashboard.Type" Class="mb-6" />
            <STextField Type="number" TValue="int" @bind-Value="Dashboard.Order" />
        </MForm>
    </ChildContent>
    <FooterContent>
        <div class="d-flex">
            <SCheckbox @bind-Value="Dashboard.IsRoot" Label="@T("Set as root")" Class="my-auto" Style="display:none" />
            <MSpacer />
            <SButton Large OnClick="AddFolderAsync" Width="140" Style="min-width:140px !important;" Class="my-auto">@T("Save")</SButton>
        </div>       
    </FooterContent>
</DefaultDialog>
